@import 'config.scss';

.navBurger{
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 8888;
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  &__item{
    font-size: 28px;
    color: #fff2e3;

    &_exit{
      cursor: pointer;
    }

    &.active{
      color: $font-color-active;

      &.pets{

        &::before{
          content: '';
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 270px; height: 270px;
          display: block;
          position: absolute;
          // opacity: 30%;
          background-size: cover;
        }

        &.main{
          &::before{
            background: url('../assets/icon/navIconFood.png');
            background-size: cover;
          }
        }

        &.dog{
          &::before{
            background: url('../assets/icon/navIconDog.png');
            background-size: cover;
          }
        }

        &.cat{
          &::before{
            background: url('../assets/icon/navIconCat.png');
            background-size: cover;
          }
        }

        &.other{
          &::before{
            background: url('../assets/icon/navIconPapugay.png');
            background-size: cover;
          }
        }

        &.log{
          &::before{
            background: url('../assets/icon/navIconLog.png');
            background-size: cover;
          }
        }

        &.reg{
          &::before{
            transform: translate(-40%, -50%);
            background: url('../assets/icon/navIconReg.png');
            background-size: cover;
          }
        }
      }
    }
  }

  &__span{
    display: flex;
    align-items: baseline;
    gap: 7px;

    &.active{

      &.pets{

        &::before{
          content: '';
          top: 80%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 270px; height: 270px;
          display: block;
          position: absolute;
          opacity: 30%;
          background: url('../assets/icon/navIconFood.png');
          background-size: cover;
        }
      }
    }
  }
}