@import 'config.scss';

.form{
  width: 280px; min-height: 200px; height: max-content;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  &__span{
    width: 100%; height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

    &-label{
      font-size: 30px;

      &_checkbox{
        display: inline;
        color: $font-color-active;
        font-size: 22px;
      }
    }

    &-input{
      width: 100%; height: max-content;
      padding: 7px 13px;
      border: none;
      outline: none;
      font-size: 22px;
      background: transparent;
      transform: translateY(10%);
      border-bottom: 3px solid $font-color;

      &_checkbox{
        display: inline;
        width: 20px; height: 20px;
        cursor: pointer;
      }
    }

    &_checkbox{
      display: block;
    }

    &-border{
      width: 50%; height: 3px;
      background: $font-color-active;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(5px);
    }
  }

  &__link{
    font-size: 30px;
    cursor: pointer;
    color: $font-color-active !important;
  }

  &__container-btn{
    width: 100%; height: max-content;
    display: flex;
    overflow: hidden;
  }
  
  &__btn{
    font-size: 24px;
    padding: 7px 13px;
    cursor: pointer;
    position: relative;
    // color: red;
    background: #fff;
    overflow-x: hidden;
    background: transparent;
    box-sizing: content-box;
    border: 3px solid $font-color;
    border-bottom: 7px solid #2a3c47;

    &.active{
      transform: translateY(3.5px);
      // border-color: $font-color !important;
    }
  }
}



@media (min-width: 576px){
  .form{
    width: 500px;
    gap: 40px;
  }
} 

@media (min-width: 992px){
  .form{
    gap: 50px;

    &__span{

      &-label{
        font-size: 34px;
      }

      &-input{
        font-size: 26px;

        &_checkbox{
          transform: translateY(-6%);
        }
      }
    }
    
    &__link{
      font-size: 32px;
    }

    &__btn{
      font-size: 28px;
    }
  }
}