@import 'config.scss';



// header
.header{
  width: 100%; height: 5rem;
  padding: 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  // burger
  &__burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 40px;
    z-index: 9999;
  
    span{
      background: $font-color;
      border-radius: 10px;
      height: 4px;
      margin: 4px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
      &:nth-of-type(1){
        width: 50%;
      }
  
      &:nth-of-type(2){
        width: 100%;
      }
  
      &:nth-of-type(3){
        width: 75%;
      }
    }
  
    input[type="checkbox"]{
      display: none;
  
      &:checked ~ span:nth-of-type(1){
        background: red;
        transform-origin: bottom;
        box-shadow: 0 0 3px red;
        transform: translate(3px, 4px) rotate(45deg);
      }
  
      &:checked ~ span:nth-of-type(2){
        background: red;
        transform-origin: top;
        box-shadow: 0 0 3px red;
        transform: rotate(-45deg);
      }
  
      &:checked ~ span:nth-of-type(3){
        width:50%;
        background: red;
        box-shadow: 0 0 3px red;
        transform-origin: bottom;
        transform: translate(18px, -6px) rotate(45deg);
      }
    }
  } 

  &__dbNav{
    width: max-content; height: max-content;
    display: flex;
    align-items: center;
    gap: 10px;

    &-smoll-logo{
      margin-top: auto;
      width: 36px; height: 36px;
    }

    &-title-logo{
      font-size: 28px;
      color: $font-color;
      font-weight: 900;
      display: none;
    }
  }

  // navBar
  &__nav{
    width: 100%; height: max-content;
    display: flex;
    align-items: baseline;
    gap: 30px;

    &-span{
      width: max-content; height: 100%;
      display: flex;
      align-items: baseline;
      gap: 17px;

      &:nth-child(1){
        gap: 7px;
        align-items: baseline;
      }

      &:nth-child(3){
        margin-left: auto;
        gap: 7px;

        p:nth-of-type(1){
          font-size: 14px;
          user-select: none;
        }

        p:nth-of-type(2){
          cursor: pointer;
        }
      }
    }

    &-item{
      font-size: 18px;
      color: $font-color;
      transition: color 0.25s ease-in-out;

      &.active{
        color: $font-color-active;  
      }

      &_logo{
        color: $font-color;
        font-size: 28px;
        font-weight: 900;
        user-select: none;
        cursor: default;

        &-img{
          margin-top: auto;
          width: 32px; height: 32px;
        }
      }
    }
  }
}



// media
@media (min-width: 0px){
  .header{
    width: 100%; height: 3rem;
    padding: 10px 10px;
    justify-content: space-between;

    &__nav{
      display: none;
    }
  }
}



@media (min-width: 576px){
  .header{
    &__dbNav{
      &-title-logo{
        display: block;
      }
    }
  }
}



@media (min-width: 1200px){
  .header{
    width: 100%; height: 5rem;
    padding: 0 60px;
    justify-content: center;

    &__burger{
      display: none;
    }

    &__dbNav{
      display: none;
    }

    &__nav{
      display: flex;
    }
  }
}

@media (min-width: 1400px){
  .header{
    
    &__nav{
      gap: 36px;

      &-item{
        font-size: 20px;

        &_logo{
          font-size: 30px;
        }

        &_border{
          font-size: 16px !important;
        }
      }
    }
  }
}



@media (min-width: 1800px){
  .header{

    &__nav{
      gap: 42px;

      &-span{
        gap: 23px;
      }

      &-item{
        font-size: 26px;

        &_logo{
          font-size: 38px;

          &-img{
            width: 38px; height: 38px;
          }
        }

        &_border{
          font-size: 22px !important;
        }
      }
    }
  }
}